In [ ]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf

'''Will import agent model gym from gymnasium once environment setup understood'''

In [ ]:
# retrieve ticker information corresponding to option of interest
msft = yf.Ticker('MSFT')

In [ ]:
# view ticker data structure
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 228000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 57,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'totalPay': 7869791,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 65,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2024,
   'totalPay': 4755618,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 52,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'totalPay': 4704250,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 50,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1974,
   'fiscalYear': 2024,
   'totalPay': 4534974,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Carolina  Dybeck Happe',
   'age': 52,
   'title': 'Executive VP & COO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 58,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1966,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Jonathan  Neilson',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Takeshi  Numoto',
   'age': 53,
   'title': 'Executive VP & Chief Marketing Officer',
   'yearBorn': 1971,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 9,
 'boardRisk': 5,
 'compensationRisk': 4,
 'shareHolderRightsRisk': 2,
 'overallRisk': 3,
 'governanceEpochDate': 1748736000,
 'compensationAsOfEpochDate': 1735603200,
 'irWebsite': 'http://www.microsoft.com/investor/default.aspx',
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 472.75,
 'open': 471.185,
 'dayLow': 466.96,
 'dayHigh': 472.8,
 'regularMarketPreviousClose': 472.75,
 'regularMarketOpen': 471.185,
 'regularMarketDayLow': 466.96,
 'regularMarketDayHigh': 472.8,
 'dividendRate': 3.32,
 'dividendYield': 0.7,
 'exDividendDate': 1747267200,
 'payoutRatio': 0.2442,
 'fiveYearAvgDividendYield': 0.83,
 'beta': 1.026,
 'trailingPE': 36.36448,
 'forwardPE': 31.499666,
 'volume': 15307425,
 'regularMarketVolume': 15307425,
 'averageVolume': 23430806,
 'averageVolume10days': 18521260,
 'averageDailyVolume10Day': 18521260,
 'bid': 447.45,
 'ask': 471.09,
 'bidSize': 1,
 'askSize': 1,
 'marketCap': 3500132007936,
 'fiftyTwoWeekLow': 344.79,
 'fiftyTwoWeekHigh': 473.43,
 'priceToSalesTrailing12Months': 12.962972,
 'fiftyDayAverage': 418.1512,
 'twoHundredDayAverage': 418.42886,
 'trailingAnnualDividendRate': 3.24,
 'trailingAnnualDividendYield': 0.0068535167,
 'currency': 'USD',
 'tradeable': False,
 'enterpriseValue': 3539136151552,
 'profitMargins': 0.35789,
 'floatShares': 7422063978,
 'sharesOutstanding': 7432540160,
 'sharesShort': 57074580,
 'sharesShortPriorMonth': 51249494,
 'sharesShortPreviousMonthDate': 1744675200,
 'dateShortInterest': 1747267200,
 'sharesPercentSharesOut': 0.0077,
 'heldPercentInsiders': 0.00063,
 'heldPercentInstitutions': 0.747,
 'shortRatio': 2.48,
 'shortPercentOfFloat': 0.0077,
 'impliedSharesOutstanding': 7432540160,
 'bookValue': 43.3,
 'priceToBook': 10.8757515,
 'lastFiscalYearEnd': 1719705600,
 'nextFiscalYearEnd': 1751241600,
 'mostRecentQuarter': 1743379200,
 'earningsQuarterlyGrowth': 0.177,
 'netIncomeToCommon': 96635002880,
 'trailingEps': 12.95,
 'forwardEps': 14.95,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 13.107,
 'enterpriseToEbitda': 23.725,
 '52WeekChange': 0.09260881,
 'SandP52WeekChange': 0.11730647,
 'lastDividendValue': 0.83,
 'lastDividendDate': 1747267200,
 'quoteType': 'EQUITY',
 'currentPrice': 470.92,
 'targetHighPrice': 700.0,
 'targetLowPrice': 429.86,
 'targetMeanPrice': 512.0414,
 'targetMedianPrice': 502.5,
 'recommendationMean': 1.42623,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 50,
 'totalCash': 79617998848,
 'totalCashPerShare': 10.712,
 'ebitda': 149172994048,
 'totalDebt': 105018998784,
 'quickRatio': 1.244,
 'currentRatio': 1.372,
 'totalRevenue': 270010007552,
 'debtToEquity': 32.626,
 'revenuePerShare': 36.325,
 'returnOnAssets': 0.14581999,
 'returnOnEquity': 0.3361,
 'grossProfits': 186509000704,
 'freeCashflow': 54817001472,
 'operatingCashflow': 130710003712,
 'earningsGrowth': 0.177,
 'revenueGrowth': 0.133,
 'grossMargins': 0.69074994,
 'ebitdaMargins': 0.55247,
 'operatingMargins': 0.45671,
 'financialCurrency': 'USD',
 'symbol': 'MSFT',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'marketState': 'POSTPOST',
 'regularMarketChangePercent': -0.38709393,
 'regularMarketPrice': 470.92,
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'postMarketChangePercent': -0.1582064,
 'postMarketPrice': 470.175,
 'postMarketChange': -0.74502563,
 'regularMarketChange': -1.8299866,
 'regularMarketDayRange': '466.96 - 472.8',
 'fullExchangeName': 'NasdaqGS',
 'averageDailyVolume3Month': 23430806,
 'fiftyTwoWeekLowChange': 126.130005,
 'fiftyTwoWeekLowChangePercent': 0.3658169,
 'fiftyTwoWeekRange': '344.79 - 473.43',
 'fiftyTwoWeekHighChange': -2.5099792,
 'fiftyTwoWeekHighChangePercent': -0.00530169,
 'fiftyTwoWeekChangePercent': 9.260881,
 'dividendDate': 1749686400,
 'earningsTimestamp': 1746043200,
 'earningsTimestampStart': 1753732800,
 'earningsTimestampEnd': 1754078400,
 'earningsCallTimestampStart': 1746048600,
 'earningsCallTimestampEnd': 1746048600,
 'isEarningsDateEstimate': True,
 'epsTrailingTwelveMonths': 12.95,
 'epsForward': 14.95,
 'epsCurrentYear': 13.39189,
 'priceEpsCurrentYear': 35.16457,
 'fiftyDayAverageChange': 52.7688,
 'fiftyDayAverageChangePercent': 0.12619549,
 'twoHundredDayAverageChange': 52.49115,
 'twoHundredDayAverageChangePercent': 0.12544821,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '1.4 - Strong Buy',
 'hasPrePostMarketData': True,
 'firstTradeDateMilliseconds': 511108200000,
 'cryptoTradeable': False,
 'corporateActions': [],
 'postMarketTime': 1749599999,
 'regularMarketTime': 1749585600,
 'exchange': 'NMS',
 'messageBoardId': 'finmb_21835',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'displayName': 'Microsoft',
 'trailingPegRatio': 2.2173}

In [ ]:
# retrive entire history of option
history = msft.history(period="max")

In [ ]:
# 
history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054277,0.062259,0.054277,0.059598,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.059598,0.062791,0.059598,0.061726,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.061726,0.063323,0.061726,0.062791,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.062791,0.063323,0.060662,0.061194,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061194,0.061726,0.059598,0.060130,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2025-06-04 00:00:00-04:00,464.000000,465.690002,463.019989,463.869995,14162700,0.0,0.0
2025-06-05 00:00:00-04:00,464.959991,469.649994,464.029999,467.679993,20131700,0.0,0.0
2025-06-06 00:00:00-04:00,470.089996,473.339996,468.779999,470.380005,15285600,0.0,0.0
2025-06-09 00:00:00-04:00,469.700012,473.429993,468.619995,472.750000,16469900,0.0,0.0
2025-06-10 00:00:00-04:00,471.184998,472.799988,466.959991,470.920013,15307425,0.0,0.0

In [6]:
msft.actions # dividends, or splits

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2024-05-15 00:00:00-04:00       0.75           0.0
2024-08-15 00:00:00-04:00       0.75           0.0
2024-11-21 00:00:00-05:00       0.83           0.0
2025-02-20 00:00:00-05:00       0.83           0.0
2025-05-15 00:00:00-04:00       0.83           0.0

[95 rows x 2 columns]

In [7]:
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2024-05-15 00:00:00-04:00    0.75
2024-08-15 00:00:00-04:00    0.75
2024-11-21 00:00:00-05:00    0.83
2025-02-20 00:00:00-05:00    0.83
2025-05-15 00:00:00-04:00    0.83
Name: Dividends, Length: 86, dtype: float64

In [8]:
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [9]:
msft.major_holders

Breakdown                          Value
insidersPercentHeld              0.00063
institutionsPercentHeld          0.74700
institutionsFloatPercentHeld     0.74747
institutionsCount             7511.00000

In [10]:
msft.institutional_holders

,Date Reported,Holder,pctHeld,Shares,Value,pctChange
0,2025-03-31,Vanguard Group Inc,0.0930,691386214,325587605180,0.0107
1,2025-03-31,Blackrock Inc.,0.0785,583284931,274680547538,0.0122
2,2025-03-31,State Street Corporation,0.0398,296030244,139406566479,0.0031
3,2025-03-31,"FMR, LLC",0.0262,194591253,91636915475,-0.0148
4,2025-03-31,"Geode Capital Management, LLC",0.0236,175469697,82632192067,0.0437
5,2025-03-31,JPMORGAN CHASE & CO,0.0191,142009968,66875336037,0.0524
6,2025-03-31,Price (T.Rowe) Associates Inc,0.0177,131514660,61932885453,-0.0269
7,2025-03-31,Morgan Stanley,0.0167,123846555,58321821343,-0.0132
8,2024-12-31,NORGES BANK,0.0142,105202984,49542190637,0.0838
9,2025-03-31,Northern Trust Corporation,0.0111,82539834,38869659735,-0.0149

In [11]:
msft.cash_flow

,2024-06-30,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Free Cash Flow,74071000000.0,59475000000.0,65149000000.0,56118000000.0,NaN
Repurchase Of Capital Stock,-17254000000.0,-22245000000.0,-32696000000.0,-27385000000.0,NaN
Repayment Of Debt,-29070000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Issuance Of Debt,29645000000.0,0.0,0.0,NaN,0.0
Issuance Of Capital Stock,2002000000.0,1866000000.0,1841000000.0,1693000000.0,NaN
Capital Expenditure,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
End Cash Position,18315000000.0,34704000000.0,13931000000.0,14224000000.0,NaN
Beginning Cash Position,34704000000.0,13931000000.0,14224000000.0,13576000000.0,NaN
Effect Of Exchange Rate Changes,-210000000.0,-194000000.0,-141000000.0,-29000000.0,NaN
Changes In Cash,-16179000000.0,20967000000.0,-152000000.0,677000000.0,NaN
Financing Cash Flow,-37757000000.0,-43935000000.0,-58876000000.0,-48486000000.0,NaN
Cash Flow From Continuing Financing Activities,-37757000000.0,-43935000000.0,-58876000000.0,-48486000000.0,NaN
Net Other Financing Charges,-1309000000.0,-1006000000.0,-863000000.0,-2523000000.0,NaN
Cash Dividends Paid,-21771000000.0,-19800000000.0,-18135000000.0,-16521000000.0,NaN
Common Stock Dividend Paid,-21771000000.0,-19800000000.0,-18135000000.0,-16521000000.0,NaN
Net Common Stock Issuance,-15252000000.0,-20379000000.0,-30855000000.0,-25692000000.0,NaN
Common Stock Payments,-17254000000.0,-22245000000.0,-32696000000.0,-27385000000.0,NaN
Common Stock Issuance,2002000000.0,1866000000.0,1841000000.0,1693000000.0,NaN
Net Issuance Payments Of Debt,575000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Net Short Term Debt Issuance,5250000000.0,0.0,0.0,NaN,0.0
Short Term Debt Payments,NaN,NaN,NaN,NaN,0.0
Short Term Debt Issuance,5250000000.0,0.0,0.0,NaN,NaN
Net Long Term Debt Issuance,-4675000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Long Term Debt Payments,-29070000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Long Term Debt Issuance,24395000000.0,0.0,0.0,NaN,0.0
Investing Cash Flow,-96970000000.0,-22680000000.0,-30311000000.0,-27577000000.0,NaN
Cash Flow From Continuing Investing Activities,-96970000000.0,-22680000000.0,-30311000000.0,-27577000000.0,NaN
Net Other Investing Changes,-1298000000.0,-3116000000.0,-2825000000.0,-922000000.0,NaN
Net Investment Purchase And Sale,17937000000.0,10213000000.0,18438000000.0,2876000000.0,NaN
Sale Of Investment,35669000000.0,47864000000.0,44894000000.0,65800000000.0,NaN
Purchase Of Investment,-17732000000.0,-37651000000.0,-26456000000.0,-62924000000.0,NaN
Net Business Purchase And Sale,-69132000000.0,-1670000000.0,-22038000000.0,-8909000000.0,NaN
Purchase Of Business,-69132000000.0,-1670000000.0,-22038000000.0,-8909000000.0,NaN
Net PPE Purchase And Sale,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
Purchase Of PPE,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
Operating Cash Flow,118548000000.0,87582000000.0,89035000000.0,76740000000.0,NaN
Cash Flow From Continuing Operating Activities,118548000000.0,87582000000.0,89035000000.0,76740000000.0,NaN
Change In Working Capital,1824000000.0,-2388000000.0,446000000.0,-936000000.0,NaN
Change In Other Working Capital,5348000000.0,5535000000.0,5109000000.0,4633000000.0,NaN
Change In Other Current Liabilities,5616000000.0,2825000000.0,3169000000.0,5551000000.0,NaN
Change In Other Current Assets,-8465000000.0,-4824000000.0,-3514000000.0,-4391000000.0,NaN
Change In Payables And Accrued Expense,5232000000.0,-3079000000.0,3639000000.0,489000000.0,NaN
Change In Payable,5232000000.0,-3079000000.0,3639000000.0,489000000.0,NaN
Change In Account Payable,3545000000.0,-2721000000.0,2943000000.0,2798000000.0,NaN
Change In Tax Payable,1687000000.0,-358000000.0,696000000.0,-2309000000.0,NaN
Change In Income Tax Payable,1687000000.0,-358000000.0,696000000.0,-2309000000.0,NaN
Change In Inventory,1284000000.0,1242000000.0,-1123000000.0,-737000000.0,NaN
Change In Receivables,-7191000000.0,-4087000000.0,-6834000000.0,-6481000000.0,NaN
Changes In Account Receivables,-7191000000.0,-4087000000.0,-6834000000.0,-6481000000.0,NaN
Stock Based Compensation,10734000000.0,9611000000.0,7502000000.0,6118000000.0,NaN
Unrealized Gain Loss On Investment Securities,-146000000.0,-303000000.0,-509000000.0,-1057000000.0,NaN
Asset Impairment Charge,206000000.0,30000000.0,101000000.0,13000000.0,NaN
Deferred Tax,-4738000000.0,-6059000000.0,-5702000000.0,-150000000.0,NaN
Deferred Income Tax,-4738000000.0,-6059000000.0,-5702000000.0,-150000000.0,NaN
Depreciation Amortization Depletion,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Depreciation And Amortization,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Depreciation,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Operating Gains Losses,245000000.0,469000000.0,-1000000.0,-205000000.0,NaN
Gain Loss On Investment Securities,245000000.0,469000000.0,-1000000.0,-205000000.0,NaN
Net Income From Continuing Operations,88136000000.0,72361000000.0,72738000000.0,61271000000.0,NaN

In [12]:
msft.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   41     6     0           0
1    -1m         15   41     5     0           0
2    -2m         14   41     6     0           0
3    -3m         15   41     6     0           0

# Indices

### View S&P 500 data

In [25]:
'''note ticker != stock symbol'''
sp500 = yf.Ticker("^GSPC")

In [27]:
sp500.info

{'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 6005.88,
 'open': 6009.91,
 'dayLow': 6000.28,
 'dayHigh': 6043.01,
 'regularMarketPreviousClose': 6005.88,
 'regularMarketOpen': 6009.91,
 'regularMarketDayLow': 6000.28,
 'regularMarketDayHigh': 6043.01,
 'volume': 2976909000,
 'regularMarketVolume': 2976909000,
 'averageVolume': 5239179047,
 'averageVolume10days': 4969561000,
 'averageDailyVolume10Day': 4969561000,
 'bid': 5979.1,
 'ask': 6070.37,
 'bidSize': 0,
 'askSize': 0,
 'fiftyTwoWeekLow': 4835.04,
 'fiftyTwoWeekHigh': 6147.43,
 'fiftyDayAverage': 5636.0835,
 'twoHundredDayAverage': 5798.3887,
 'currency': 'USD',
 'tradeable': False,
 '52WeekChange': 11.730647,
 'quoteType': 'INDEX',
 'symbol': '^GSPC',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Index',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'shortName': 'S&P 500',
 'exchange': 'SNP',
 'messageBoardId': 'finmb_INDEXGSPC',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'regularMarketChangePercent': 0.54829895,
 'regularMarketPrice': 6038.81,
 'corporateActions': [],
 'regularMarketTime': 1749588489,
 'longName': 'S&P 500',
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': -1325583000000,
 'regularMarketChange': 32.930176,
 'regularMarketDayRange': '6000.28 - 6043.01',
 'fullExchangeName': 'SNP',
 'averageDailyVolume3Month': 5239179047,
 'fiftyTwoWeekLowChange': 1203.77,
 'fiftyTwoWeekLowChangePercent': 0.24896795,
 'fiftyTwoWeekRange': '4835.04 - 6147.43',
 'fiftyTwoWeekHighChange': -108.62012,
 'fiftyTwoWeekHighChangePercent': -0.017669192,
 'fiftyTwoWeekChangePercent': 11.730647,
 'fiftyDayAverageChange': 402.72656,
 'fiftyDayAverageChangePercent': 0.07145504,
 'twoHundredDayAverageChange': 240.42139,
 'twoHundredDayAverageChangePercent': 0.041463483,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'cryptoTradeable': False,
 'marketState': 'POSTPOST',
 'trailingPegRatio': None}

In [29]:
history_SP = sp500.history(period="max")
history_SP

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-06-04 00:00:00-04:00,5978.939941,5990.479980,5966.109863,5970.810059,4767050000,0.0,0.0
2025-06-05 00:00:00-04:00,5985.669922,5999.700195,5921.200195,5939.299805,5091850000,0.0,0.0
2025-06-06 00:00:00-04:00,5987.060059,6016.870117,5978.629883,6000.359863,4355710000,0.0,0.0
2025-06-09 00:00:00-04:00,6004.629883,6021.310059,5994.180176,6005.879883,4642360000,0.0,0.0
2025-06-10 00:00:00-04:00,6009.910156,6043.009766,6000.279785,6038.810059,2976909000,0.0,0.0

### View Nikkei225 data

In [30]:
nikkei = yf.Ticker("^N225")

In [31]:
nikkei

yfinance.Ticker object <^N225>

In [32]:
nikkei.info

{'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 38211.51,
 'open': 38431.1,
 'dayLow': 38398.23,
 'dayHigh': 38529.64,
 'regularMarketPreviousClose': 38211.51,
 'regularMarketOpen': 38431.1,
 'regularMarketDayLow': 38398.23,
 'regularMarketDayHigh': 38529.64,
 'volume': 0,
 'regularMarketVolume': 0,
 'averageVolume': 137201639,
 'averageVolume10days': 116950000,
 'averageDailyVolume10Day': 116950000,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'fiftyTwoWeekLow': 30792.74,
 'fiftyTwoWeekHigh': 42426.77,
 'fiftyDayAverage': 36151.973,
 'twoHundredDayAverage': 37889.855,
 'currency': 'JPY',
 'tradeable': False,
 '52WeekChange': -2.6733756,
 'quoteType': 'INDEX',
 'symbol': '^N225',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Index',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': False,
 'customPriceAlertConfidence': 'LOW',
 'shortName': 'Nikkei 225',
 'longName': 'Nikkei 225',
 'corporateActions': [],
 'regularMarketTime': 1749601045,
 'exchange': 'OSA',
 'messageBoardId': 'finmb_INDEXN225',
 'exchangeTimezoneName': 'Asia/Tokyo',
 'exchangeTimezoneShortName': 'JST',
 'gmtOffSetMilliseconds': 32400000,
 'market': 'jp_market',
 'marketState': 'REGULAR',
 'esgPopulated': False,
 'sourceInterval': 20,
 'exchangeDataDelayedBy': 20,
 'cryptoTradeable': False,
 'regularMarketChange': 262.85938,
 'regularMarketDayRange': '38398.23 - 38529.64',
 'fullExchangeName': 'Osaka',
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': -157420800000,
 'averageDailyVolume3Month': 137201639,
 'fiftyTwoWeekLowChange': 7681.631,
 'fiftyTwoWeekLowChangePercent': 0.2494624,
 'fiftyTwoWeekRange': '30792.74 - 42426.77',
 'fiftyTwoWeekHighChange': -3952.3984,
 'fiftyTwoWeekHighChangePercent': -0.093158126,
 'fiftyTwoWeekChangePercent': -2.6733756,
 'fiftyDayAverageChange': 2322.3984,
 'fiftyDayAverageChangePercent': 0.06423988,
 'twoHundredDayAverageChange': 584.5156,
 'twoHundredDayAverageChangePercent': 0.015426705,
 'regularMarketChangePercent': 0.6879345,
 'regularMarketPrice': 38474.37,
 'trailingPegRatio': None}

In [33]:
history_japan = nikkei.history(period="max")

In [34]:
history_japan

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1965-01-05 00:00:00+09:00,1257.719971,1257.719971,1257.719971,1257.719971,0,0.0,0.0
1965-01-06 00:00:00+09:00,1263.989990,1263.989990,1263.989990,1263.989990,0,0.0,0.0
1965-01-07 00:00:00+09:00,1274.270020,1274.270020,1274.270020,1274.270020,0,0.0,0.0
1965-01-08 00:00:00+09:00,1286.430054,1286.430054,1286.430054,1286.430054,0,0.0,0.0
1965-01-12 00:00:00+09:00,1288.540039,1288.540039,1288.540039,1288.540039,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-06-04 00:00:00+09:00,37686.660156,37868.421875,37672.468750,37747.449219,106700000,0.0,0.0
2025-06-05 00:00:00+09:00,37590.390625,37732.878906,37527.878906,37554.488281,113800000,0.0,0.0
2025-06-06 00:00:00+09:00,37590.441406,37756.148438,37590.421875,37741.609375,98100000,0.0,0.0
2025-06-09 00:00:00+09:00,38028.710938,38178.011719,38018.218750,38088.570312,85700000,0.0,0.0
2025-06-11 00:00:00+09:00,38431.101562,38529.640625,38398.230469,38474.371094,0,0.0,0.0

In [35]:
history_japan.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1965-01-05 00:00:00+09:00,1257.719971,1257.719971,1257.719971,1257.719971,0,0.0,0.0
1965-01-06 00:00:00+09:00,1263.989990,1263.989990,1263.989990,1263.989990,0,0.0,0.0
1965-01-07 00:00:00+09:00,1274.270020,1274.270020,1274.270020,1274.270020,0,0.0,0.0
1965-01-08 00:00:00+09:00,1286.430054,1286.430054,1286.430054,1286.430054,0,0.0,0.0
1965-01-12 00:00:00+09:00,1288.540039,1288.540039,1288.540039,1288.540039,0,0.0,0.0